/* VARIABLES */
:root {
    --on-bg: #101010;
    --bg: #eee;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --on-bg: #eee;
        --bg: #101010;
    }
}


/* LAYOUT */
html, body {
    font-family: system-ui;
    color: var(--on-bg);
    background-color: var(--bg);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    width: 95%;
    margin: 0 auto;
}

body h1:first-child {
    margin-top: .125em;
}

@media screen and (min-width: 768px) {
    body {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 80%;
    }
}

header, footer {
    padding: 1em 0;
    font-style: bold;
}
